<div class=""  >
  <div class="banner" >
    <div class="container  mt-5" style="width: 40%">
      <div class="profile">
            <% if current_user.photo.key == nil %>
              <div  class="mb-2"> <%= image_tag "default_image.png", class: "avatar-large" %></div>
            <% else %>
              <div  class="mb-2"><%=  image_tag url_for(current_user.photo), class: "avatar-large" %></div>
            <% end %>
        <h2  class="mb-5"><%= current_user.nickname %></h2>
        <div class="d-flex justify-content-center">
          <h3  class="mb-5", style="margin-right: 30px"><%= current_user.posts.count %> Stories</h3>
          <h3  class="mb-5"><%= current_user.followers_count %> Followers</h3>
          <h3  class="mb-5", style="margin-left: 30px"><%= current_user.follow_count %> Following</h3>
        </div>
      </div>
      <h2>My stories</h2>
      <div class="cards">
        <% @posts.reverse.each do |post| %>
          <%= link_to post_path(post.token)  do %>
            <div class="card">
              <div class="card-body">
                <div class="card-images">
                  <%= image_tag url_for(post.user.photo), class: "avatar-small" %>
                  <% if post.photo.key.nil? %>
                    <h3 class="post-image"> <%= image_tag "default_image.png", class: "avatar-post" %></h3>
                  <% else %>
                    <h3 class="post-image"> <%= image_tag url_for(post.photo), class: "avatar-post" %></h3>
                  <% end %>
                </div>
                <div class="infos">
                  <h5 class="card-title title"><%=post.title%></h5>
                  <div class= "info-mini">
                    <h3 class="nickname"> By <%=post.user.nickname%></h3>
                    <h3 class="date"><%= post.created_at.strftime("%-d %B %Y") %></h3>
                    <h5 class="language"><%= post.language %> from </h5>
                    <% if post.language == "English" %>
                      <div class= "england-flag"></div>
                    <% elsif post.language == "French" %>
                      <div class= "france-flag"></div>
                    <% elsif post.language == "Spanish" %>
                      <div class= "spain-flag"></div>
                    <% end %>
                    <h4 class="like"><i class="fa-solid fa-heart" style="color: #FF3040;"></i> <%= post.post_likes.count %></h4>
                    <h4 class="quality"><i class="fa-solid fa-star" style="color: #ffd43b;"></i> <%= post.post_qualities.count %></h4>
                  </div>
                  <p class="content"><%= post.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
