<div class="post-container">
  <div class="post" >
    <!--search-bar-->
    <%= render partial: "shared/search_bar" %>
    <!--title-->
    <div class="profile" style="color:white;">
      <div class="mb-2" style="margin-top: 30px"><%= image_tag url_for(current_user.photo), class: "avatar-large" %></div>
      <h2 class="mb-5"><%= current_user.nickname %></h2>
      <div class="d-flex justify-content-center" style="color:white;">
        <h3 class="mb-5", style="margin-right: 30px"><%= current_user.posts.count %> Stories</h3>
        <h3 class="mb-5">
          <%= link_to "#{current_user.followers_count} Followers", "#followersModal", "data-bs-toggle" => "modal", "data-bs-target" => "#followersModal" %>
        </h3>
        <h3 class="mb-5", style="margin-left: 30px">
          <%= link_to "#{current_user.follow_count} Following", "#followingModal", "data-bs-toggle" => "modal", "data-bs-target" => "#followingModal" %>
        </h3>
      </div>
      <div class="cards">
        <% @posts.reverse.each do |post| %>
          <% if current_user == post.user %>
            <div class="dropdown">
              <i class="fas fa-ellipsis-h" style="float: right; color: white;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><%= link_to 'Delete', post_path(post.token), data: { turbo_method: :delete, turbo_confirm: 'Delete this post?' }, class: 'dropdown-item' %></li>
              </ul>
            </div>
          <% end %>
          <%= link_to post_path(post.token) do %>
            <%= render partial: "posts/card", locals: { post: post }%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Followers Modal -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followersModalLabel">Followers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% current_user.followers_by_type('User').each do |follower| %>
          <div class="d-flex align-items-center" style="gap:8px">
          <%= link_to profile_path(follower.nickname) do %>
            <%= image_tag url_for(follower.photo), class: "avatar-xxs", loading: "lazy" %>
          <% end %>
          <div style= "color:white" ><%= follower.nickname %></div>
            <% if user_signed_in? %>
              <% user_follow = current_user.following?(follower) %>
              <% if user_follow %>
                <p><%= button_to "Following ✔", unfollow_follower_path(follower), class: "btn btn-mini-following", method: :post %></p>
              <% else %>
                <p><%= button_to "Follow back", follow_follower_path(follower), class: "btn btn-mini-follow", method: :post %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Following Modal -->
<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="followingModalLabel">Following</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% current_user.all_following.each do |followed_user| %>
          <div class="d-flex align-items-center" style="gap:8px">
          <%= link_to profile_path(followed_user.nickname) do %>
            <%= image_tag url_for(followed_user.photo), class: "avatar-xxs", loading: "lazy" %>
          <% end %>
          <div style= "color:white" ><%= followed_user.nickname %></div>
            <% if user_signed_in? %>
              <% user_follow = current_user.following?(followed_user) %>
              <% if user_follow %>
                <p><%= button_to "Remove", unfollow_follower_path(followed_user), class: "btn btn-mini-following", method: :post %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
