<div class="post-container">
  <div class="post" >
        <div class="profile">
        <div  class="mb-2"><%=  image_tag url_for(current_user.photo), class: "avatar-large" %></div>
        <h2  class="mb-5"><%= current_user.nickname %></h2>
        <div class="d-flex justify-content-center">
          <h3  class="mb-5", style="margin-right: 30px"><%= current_user.posts.count %> Stories</h3>
          <h3  class="mb-5"><%= current_user.followers_count %> Followers</h3>
          <h3  class="mb-5", style="margin-left: 30px"><%= current_user.follow_count %> Following</h3>
        </div>
      <h2>My stories</h2>
      <div class="cards">
        <% @posts.reverse.each do |post| %>
          <% if current_user == post.user %>
            <div class="dropdown">
              <i class="fas fa-ellipsis-h" style="float: right; color: white;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Other Option</a></li>
                <li><%= link_to 'Delete', post_path(post.token), data: { turbo_method: :delete, turbo_confirm: 'Delete this post?' }, class: 'dropdown-item' %></li>
              </ul>
            </div>
          <% end %>
          <%= link_to post_path(post.token)  do %>
            <div class="card">
              <div class="card-body">
                <div class="infos">
                <div class="card-images">
                  <h5 class="card-title title"><%=post.title%></h5>
                  <% if post.photo.key.nil? %>
                    <h3 class="post-image"> <%= image_tag "default_image.png", class: "avatar-post", loading: "lazy" %></h3>
                  <% else %>
                    <h3 class="post-image"> <%= image_tag url_for(post.photo), class: "avatar-post", loading: "lazy" %></h3>
                  <% end %>
                </div>
                <div class="card-images">
                  <div>
                    <%= image_tag url_for(post.user.photo), class: "avatar-small" %>
                    <h3 class="nickname">@<%=post.user.nickname%></h3>
                  </div>
                  <p class="content"><%= post.content %></p>
                  <div class= "info-mini">
                    <p class="date"><%= post.created_at.strftime("%-d %B %Y") %></p>
                    <p class="quality"><%= post.post_qualities.count %> <i class="fa-solid fa-star" style="color: #ffd43b;"></i></p>
                  </div>
                </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
