<div class="post-container">
  <div class="post" >
        <div class="profile" style="color:white;">
        <div  class="mb-2" style="margin-top: 30px"><%=  image_tag url_for(current_user.photo), class: "avatar-large" %></div>
        <h2  class="mb-5"><%= current_user.nickname %></h2>
        <div class="d-flex justify-content-center" style="color:white;">
          <h3  class="mb-5", style="margin-right: 30px"><%= current_user.posts.count %> Stories</h3>
          <h3  class="mb-5"><%= current_user.followers_count %> Followers</h3>
          <h3  class="mb-5", style="margin-left: 30px"><%= current_user.follow_count %> Following</h3>
        </div>
      <h4 style="color: white">My stories</h4>
      <div class="cards">
        <% @posts.reverse.each do |post| %>
          <% if current_user == post.user %>
            <div class="dropdown">
              <i class="fas fa-ellipsis-h" style="float: right; color: white;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Other Option</a></li>
                <li><%= link_to 'Delete', post_path(post.token), data: { turbo_method: :delete, turbo_confirm: 'Delete this post?' }, class: 'dropdown-item' %></li>
              </ul>
            </div>
          <% end %>
          <%= link_to post_path(post.token)  do %>
            <!--cards-->
            <%= render partial: "posts/card", locals: { post: post }%>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
