<div class="post-container">
  <div class="post" >
      <div class="profile" style="color:white;">
        <div  class="mb-2"><%=  image_tag url_for(@user.photo), class: "avatar-large" %></div>
        <div class="d-flex justify-content-center" style="gap: 10px; color:white;" >
          <h2  class="mb-5"><%= @user.nickname %></h2>
          <div style="color:white;">
            <% if user_signed_in? %>
              <% user_follow = current_user.following?(@user) %>
              <% if user_follow %>
                <h2><%= button_to "Following ✔", unfollow_follower_path(@user), class: "btn btn-following", method: :post %></h2>
              <% else %>
                <h2><%= button_to "Follow", follow_follower_path(@user), class: "btn btn-follow", method: :post %></h2>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-center" style="color:white;">
          <h3  class="mb-5", style="margin-right: 30px"><%= @user.posts.count %> Stories</h3>
          <h3  class="mb-5"><%= @user.followers_count %> Followers</h3>
          <h3  class="mb-5", style="margin-left: 30px"><%= @user.follow_count %> Following</h3>
        </div>
      </div>
      <h4 style="color: white">More stories from <%= @user.nickname %></h4>
      <div class="cards">
        <% @user.posts.each do |post| %>
          <%= link_to post_path(post.token)  do %>
            <div class="card">
              <div class="card-body">
                <div class="infos">
                <div class="card-images">
                  <h5 class="card-title title"><%=post.title%></h5>
                  <% if post.photo.key.nil? %>
                    <h3 class="post-image"> <%= image_tag "default_image.png", class: "avatar-post", loading: "lazy" %></h3>
                  <% else %>
                    <h3 class="post-image"> <%= image_tag url_for(post.photo), class: "avatar-post", loading: "lazy" %></h3>
                  <% end %>
                </div>
                <div class="card-images">
                  <div>
                    <%= image_tag url_for(post.user.photo), class: "avatar-small" %>
                    <h3 class="nickname">@<%=post.user.nickname%></h3>
                  </div>
                  <p class="content"><%= post.content %></p>
                  <div class= "info-mini">
                    <p class="date"><%= post.created_at.strftime("%-d %B %Y") %></p>
                    <p class="quality"><%= post.post_qualities.count %> <i class="fa-solid fa-star" style="color: #ffd43b;"></i></p>
                  </div>
                </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
