<div class="container mt-5">
  <div class="profile">
    <div  class="mb-2"><%=  cl_image_tag current_user.photo.key, class: "avatar-large" %></div>
    <h2  class="mb-5"><%= current_user.nickname %></h2>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :nickname,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "nickname" }%>
      <%= f.input :photo,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "photo" }%>
    </div>

    <div class="form-actions btn btn-flat">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>


  <div class="btn btn-flat mt-3">
    <%= link_to "Back", :back %>
  </div>

  <div class="mt-3 mb-5">
    <%= button_to "Delete my account", registration_path(resource_name), data: {  turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your account?" }, class: "btn btn-danger" %>
  </div>






</div>
