<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <ul class="navbar-brand d-flex align-items-center">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "yoinity_logo.png" %>
    <% end %>
      <p class="all-text-white mt-4", style="font-size: 28px">
        <%= link_to "Yoinity", "/", class: "" %>
      </p>
    </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" style="width: 100%">
        <% if user_signed_in? %>
          <div class= "menu-container">
            <li class="nav-item all-text-white">
              <%= link_to "Surf", "/posts", class: "nav-link" %>
            </li>
            <li class="nav-item active all-text-white">
              <%= link_to "Write", "/posts/new", class: "nav-link" %>
            </li>
            <li class="d-flex nav-item active all-text-white">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown all-text-black">
              <% if current_user.photo.key == nil %>
                <%= image_tag "default_image.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My stories", "/dashboard/show", class: "dropdown-item" %>
                <%= link_to "Saved for later", "/dashboard/saved", class: "dropdown-item" %>
                <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          </div>
        <% else %>
          <div class= "menu-container">
            <li class="nav-item all-text-white">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item active all-text-white">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
