<div class="navbar-expand">
  <div style="position:fixed">
    <div class="d-flex">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "yoinity_logo.png" %>
    <% end %>
      <p class="all-text-white", style="font-size: 28px">
        <%= link_to "Yoinity", "/", class: "yoinity-logo"%>
      </p>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" style="width: 100%">
        <% if user_signed_in? %>
          <div class= "">
            <li class="nav-item">
              <%= link_to "Home", "/", class: "nav-link" %>
            </li>
            <% unless current_user.subscription_status == 'active' %>
              <li class="nav-item">
                <%= link_to "Membership", "#", id: "checkout-button", data: { controller: "checkout", action: "click->checkout#checkout" }, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Bookmarks", "/dashboard/saved", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Remixes", "/remixes", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Profile", "/dashboard/show", class: "nav-link" %>
            </li>
            <li class="mt-5 mb-5">
              <%= link_to "Voice design", "/remixes", class: "navbar-link dropdown-item" %>
            </li>
          	<li class="nav-item">
              <%= link_to "Create", "#remixModal", "data-bs-toggle" => "modal", "data-bs-target" => "#remixModal", class: "btn btn-create" %>
            </li>
            <li class="nav-item dropdown all-text-black mt-5">
                <%= image_tag url_for(current_user.photo), class: "avatar-navbar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          </div>
        <% else %>
          <div class= "">
            <li class="nav-item all-text-grey">
              <%= link_to "Login", new_user_session_path, class: "navbar-link" %>
            </li>
            <li class="nav-item all-text-grey">
              <%= link_to "Sign up", new_user_registration_path, class: "navbar-link" %>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
