<div class="web3">
  <!-- <div data-controller="disable-button" class="banner" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 10%, rgba(126, 126, 126, 0.5) 60%), url('<%= cl_image_path @posts.last.photo.key %>')" > -->
  <div data-controller="disable-button" class="banner">
    <div class="container post-last">
        <div class="main-title">Be curious, find the most valuable content</div>

        <div class="d-flex justify-content-center">
          <div class="ask-form-control form-group">
            <%= simple_form_for :search, url: posts_path, method: :get do |f| %>
            <input placeholder="I want to learn about..." class="form-control string required" type="text" name="query" id="search_query"/>
            <% end %>
          </div>
        </div>

        <!--
          <div class="btn btn-like promoted-content"
               style="font-size: 1.5rem;"
               data-disable-button-target="button"
               data-action="click->disable-button#disable">
            <i class="fa-solid fa-ad" style="color: #8E8EA0;"></i>
          </div>

        <div class="d-flex justify-content-center">
            <div class="main-card" data-disable-button-target="link">
                <% @posts.each do |post| %>
                <%= link_to post_path(post)  do %>
                    <div  class="post-card-small" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0)), url('<%= cl_image_path post.photo.key %>')" >
                      <h4 class="like"><i class="fa-solid fa-heart" style="color: #FF3040;"></i> <%= post.post_likes.count %></h4>
                      <h4 class="quality"><i class="fa-solid fa-star" style="color: #ffd43b;"></i> <%= post.post_qualities.count %></h4>
                      <h5 class="language"><%= post.language %> from </h5>
                      <% if post.language == "English" %>
                        <div class= "england-flag"></div>
                      <% elsif post.language == "French" %>
                        <div class= "france-flag"></div>
                      <% elsif post.language == "Spanish" %>
                        <div class= "spain-flag"></div>
                      <% end %>
                      <div class="infos">
                        <h3 class="post-avatar"> <%= cl_image_tag post.user.photo.key, class: "avatar-small" %></h3>
                        <h2 class="title"><%=post.title%></h2>
                        <h3 class="nickname"> By <%=post.user.nickname%></h3>
                        <h3 class="nickname"><i class="fa-solid fa-badge-check" style="color: #ffffff;"></i></h3>
                        <h3 class="date"><%= post.created_at.strftime("%B %Y") %></h3>
                        <p class="content"><%= post.content %></p>
                      </div>
                      <h3 class="btn btn-classic read">Read</h3>
                    </div>
                <%end%>
                <%end%>
            </div>
          </div>
        -->
    </div>
  </div>
  </div>
