<div class="banner">
  <div class="container">
      <h2><strong>Be curious, find the most valuable content</strong></h2>
  </div>
</div>

<div class="container mt-5">
    <div class="card-last">
      <h1 class="text-center mb-5", style="color: grey">Trends</h1>
      <div class="cards">
        <% @posts.each do |post| %>
        <%= link_to post_path(post)  do %>
        <div class="card-post">
          <% if   post.photo.key.nil? %>
            <%= image_tag "default_image.png", class:"" %>
            <% content_for :meta_title, "#{post.title} is on #{DEFAULT_META["meta_product_name"]}" %>
            <% content_for :meta_description, post.content %>
            <% content_for :meta_image, cl_image_path(post.photo.key) if post.photo.attached? %>
          <% else %>
          <%= cl_image_tag post.photo.key %>
          <% end %>
          <div class="card-post-infos card-design">
            <div>
              <h2><%=post.title%></h2>
              <p><%=post.content%></p>
            </div>
            <h2 class="card-post-pricing"><%=post.url%></h2>
          </div>
        </div>
        <%end%>
        <% end %>
      </div>
    </div>
  </div>
