<div class="post-container">
  <div class="post" >
    <h4 style="color: white; margin-top: 30px; margin-bottom:30px;">Voice design</h4>
    <p style="color: white; margin-top: 30px; margin-bottom:30px;">Create completely new artificial voices from scratch. Replicate your own voice or a voice you have the authorization and rights to use. The voices you make are exclusively accessible to you.</p>
    <div data-controller="toggle">
      <div class="btn btn-classic" data-action="click->toggle#toggle" data-toggle-target="display">Check eligibility</div>
      <p class="d-none mt-3" data-toggle-target="display">You need to <a href="/remixes/new" style="color: #1FDF64;">create</a> remixes first.</p>
    </div>
    <h4 style="color: white; margin-top: 30px; margin-bottom:30px;">My Remixes</h4>
    <!--remixes-->
    <div class="remixes" style="gap: 8px;">
      <% @remixes.each do |remix| %>
        <div class="audio-player" data-controller="audio">
          <% if remix.present? && remix.audio.attached? %>
            <div data-action="mouseenter->audio#showControls mouseleave->audio#hideIcons click->audio#togglePlay" class="avatar-container show-avatar-item">
              <%= image_tag url_for(remix.user.photo), class: "avatar-medium", loading: "lazy" %>
              <div class="avatar-overlay">
                <i class="play-icon fas fa-play" data-audio-target="playIcon" style="display: none;"></i>
                <i class="pause-icon fas fa-pause" data-audio-target="pauseIcon" style="display: none;"></i>
                <div class="green-overlay-medium" data-audio-target="greenOverlay" style="display: none;"></div>
              </div>
            </div>
            <div class="d-flex justify-content-center"><p data-audio-target="nickname" style="font-size: 9px"><%= remix.user.nickname %></p></div>
            <!-- Creation date -->
            <div class="d-flex justify-content-center" style="font-size:12px;">
              <small style="color: white;"><%= remix.created_at.strftime('%b %d, %Y') %></small>
            </div>
            <!--three dots button-->
            <div class="dropdown d-flex justify-content-center">
              <i class="fas fa-ellipsis-h" style="float: right; color: white;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <% if remix.post.present? %>
                  <li><%= link_to 'View related post', post_path(remix.post.token), class: 'dropdown-item' %></li>
                <% end %>
                <li><%= link_to 'Delete', remix_path(remix), data: { turbo_method: :delete, turbo_confirm: 'Delete this remix?' }, class: 'dropdown-item' %></li>
              </ul>
            </div>
            <audio data-play-all-target="audio" data-audio-target="audio" data-src="<%= rails_blob_path(remix.audio, disposition: "attachment") %>" type="<%= remix.audio.blob.content_type %>">
            </audio>
          <% end %>
        </div>
      <% end %>
    </div>
    <h4 style="color: white; margin-top: 30px; margin-bottom:30px;">My Ephemeral Remixes</h4>
    <p style="color: white; margin-top: 30px; margin-bottom:30px;">Ephemeral Remixes last 24 hours. Only you can see them once they expire.</p>
    <!--ephemeral remixes-->
    <div class="remixes" style="gap: 8px;">
      <% current_user.ephemeral_remixes.reverse.each do |remix| %>
          <div class="audio-player" data-controller="audio">
            <% if remix.audio.attached? %>
              <div data-action="mouseenter->audio#showControls mouseleave->audio#hideIcons click->audio#togglePlay" class="avatar-container show-avatar-item">
                <%= image_tag url_for(remix.user.photo), class: "avatar-medium", loading: "lazy" %>
                <div class="avatar-overlay">
                  <i class="play-icon fas fa-play" data-audio-target="playIcon" style="display: none;"></i>
                  <i class="pause-icon fas fa-pause" data-audio-target="pauseIcon" style="display: none;"></i>
                  <div class="green-overlay-medium" data-audio-target="greenOverlay" style="display: none;"></div>
                </div>
              </div>
              <div class="d-flex justify-content-center"><p data-audio-target="nickname" style="font-size: 9px"><%= remix.user.nickname %></p></div>
              <!-- Creation date -->
              <div class="d-flex justify-content-center" style="font-size:12px;">
                <small style="color: white;"><%= remix.created_at.strftime('%b %d, %Y') %></small>
              </div>
              <!--available?-->
              <% if remix.available? %>
                <div class="d-flex justify-content-center" style="font-size:12px;">
                  <small style="color: #1FDF64;">Available</small>
                </div>
              <% else %>
                <div class="d-flex justify-content-center" style="font-size:12px;">
                  <small style="color: #AEAEB3;">Expired</small>
                </div>
              <% end %>
              <!--three dots button-->
              <div class="dropdown d-flex justify-content-center">
                <i class="fas fa-ellipsis-h" style="float: right; color: white;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><%= link_to 'Delete', ephemeral_remix_path(remix), data: { turbo_method: :delete, turbo_confirm: 'Delete this ephemeral remix?' }, class: 'dropdown-item' %></li>
                </ul>
              </div>
              <audio data-play-all-target="audio" data-audio-target="audio" data-src="<%= rails_blob_path(remix.audio, disposition: "attachment") %>" type="<%= remix.audio.blob.content_type %>">
              </audio>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
