<div class="post-container">
  <div class="post" >
    <h4 style="color: white; margin-top: 30px; margin-bottom:30px;">My Remixes</h4>
    <!--remixes-->
    <div class="remixes" style="gap: 8px;">
      <% @remixes.each do |remix| %>
        <div class="audio-player" data-controller="audio">
          <% if remix.present? && remix.audio.attached? %>
            <div data-action="mouseenter->audio#showControls mouseleave->audio#hideIcons click->audio#togglePlay" class="avatar-container show-avatar-item">
              <%= image_tag url_for(remix.user.photo), class: "avatar", loading: "lazy" %>
              <div class="avatar-overlay">
                <i class="play-icon fas fa-play" data-audio-target="playIcon" style="display: none;"></i>
                <i class="pause-icon fas fa-pause" data-audio-target="pauseIcon" style="display: none;"></i>
                <div class="green-overlay" data-audio-target="greenOverlay" style="display: none;"></div>
              </div>
            </div>
            <div class="d-flex justify-content-center"><p data-audio-target="nickname" style="font-size: 9px"><%= remix.user.nickname %></p></div>
            <!-- Creation date -->
            <div class="d-flex justify-content-center" style="font-size:12px;">
              <small style="color: white;"><%= remix.created_at.strftime('%b %d, %Y') %></small>
            </div>
            <!--three dots button-->
            <div class="dropdown d-flex justify-content-center">
              <i class="fas fa-ellipsis-h" style="float: right; color: white;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <% if remix.post.present? %>
                  <li><%= link_to 'View related post', post_path(remix.post.token), class: 'dropdown-item' %></li>
                <% end %>
                <li><%= link_to 'Delete', remix_path(remix), data: { turbo_method: :delete, turbo_confirm: 'Delete this remix?' }, class: 'dropdown-item' %></li>
              </ul>
            </div>
            <audio data-play-all-target="audio" data-audio-target="audio" data-src="<%= rails_blob_path(remix.audio, disposition: "attachment") %>" type="<%= remix.audio.blob.content_type %>">
            </audio>
          <% end %>
        </div>
      <% end %>
    </div>
    <h4 style="color: white; margin-top: 30px; margin-bottom:30px;">My Ephemeral Remixes</h4>
    <!--ephemeral remixes-->
    <div class="remixes" style="gap: 8px;">
      <% current_user.ephemeral_remixes.each do |remix| %>
        <% if remix.available? %> <!-- make sure this remix is available -->
          <div class="audio-player" data-controller="audio">
            <% if remix.audio.attached? %>
              <div data-action="mouseenter->audio#showControls mouseleave->audio#hideIcons click->audio#togglePlay" class="avatar-container show-avatar-item">
                <%= image_tag url_for(remix.user.photo), class: "avatar", loading: "lazy" %>
                <div class="avatar-overlay">
                  <i class="play-icon fas fa-play" data-audio-target="playIcon" style="display: none;"></i>
                  <i class="pause-icon fas fa-pause" data-audio-target="pauseIcon" style="display: none;"></i>
                  <div class="green-overlay" data-audio-target="greenOverlay" style="display: none;"></div>
                </div>
              </div>
              <div class="d-flex justify-content-center"><p data-audio-target="nickname" style="font-size: 9px"><%= remix.user.nickname %></p></div>
              <!-- Creation date -->
              <div class="d-flex justify-content-center" style="font-size:12px;">
                <small style="color: white;"><%= remix.created_at.strftime('%b %d, %Y') %></small>
              </div>
              <!--three dots button-->
              <div class="dropdown d-flex justify-content-center">
                <i class="fas fa-ellipsis-h" style="float: right; color: white;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                </ul>
              </div>
              <audio data-play-all-target="audio" data-audio-target="audio" data-src="<%= rails_blob_path(remix.audio, disposition: "attachment") %>" type="<%= remix.audio.blob.content_type %>">
              </audio>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
