<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Create a new remix</h1>
      <%= simple_form_for @remix, url: remixes_path, html: { data: { controller: "recording", recording_target: "form" } } do |f| %>
        <%= f.input :language, placeholder: "Enter language", label: false, input_html: { data: { recording_target: "language" } } %>

        <!-- File upload input -->
        <%= f.input :audio, as: :file, label: 'Or upload audio:', input_html: { data: { recording_target: "fileUpload" } } %>

        <!-- Added feedback div -->
        <div data-recording-target="messages" style="height: 30px; color: white;"></div>

        <div data-action="click->recording#startRecording" data-recording-target="start">
          <%= button_tag "Start recording", type: "button" %>
        </div>
        <div data-action="click->recording#stopRecording" data-recording-target="stop">
          <%= button_tag "Stop recording", type: "button" %>
        </div>
        <div data-action= "click->recording#submitForm">
          <%= f.submit "Submit Remix" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
