<div class="post-container">
  <div class="post" >
      <div class="col-md-6 offset-md-3">
        <h4 style="color: white; margin-top: 30px;">Create a new remix</h4>
        <% if user_signed_in? %>
          <%= simple_form_for @remix, url: remixes_path, html: { data: { controller: "recording", recording_target: "form" } } do |f| %>
            <%= f.input :language, placeholder: "Enter language", label: false, input_html: { data: { recording_target: "language" } } %>
            <%= f.input :audio, as: :file, label: 'Or upload audio:', input_html: { data: { recording_target: "fileUpload" } } %>
            <%= f.input :post_id, as: :hidden, input_html: { id: 'remix_post_id' } %>
            <div data-recording-target="messages" style="height: 30px; color: white;"></div>

            <!-- Add the audio player -->
            <audio controls data-recording-target="audioPlayer"></audio>

            <div data-action="click->recording#startRecording" data-recording-target="start">
              <%= button_tag "Start recording", type: "button" %>
            </div>
            <div data-action="click->recording#stopRecording" data-recording-target="stop">
              <%= button_tag "Stop recording", type: "button" %>
            </div>
            <div data-action= "click->recording#submitForm">
              <%= button_tag "Next", type: "button" %>
            </div>
          <% end %>
        <% else %>
          <p>You must be signed in to create a remix.</p>
        <% end %>
      </div>
  </div>
</div>
