<div class="card">
  <div class="card-body">
    <div class="infos">
    <div class="card-images">
      <div>
        <%= image_tag url_for(post.user.photo), class: "avatar-small" %>
        <h3 class="nickname">@<%=post.user.nickname%></h3>
      </div>
      <div style="width:100%">
        <h5 class="card-title title"><%=post.title%></h5>
        <p class="content"><%= post.content %></p>
      </div>
      <div>
        <% if post.photo.key.nil? %>
          <h3 class="post-image"> <%= image_tag "default_image.png", class: "avatar-post", loading: "lazy" %></h3>
        <% else %>
          <h3 class="post-image"> <%= image_tag url_for(post.photo), class: "avatar-post", loading: "lazy" %></h3>
        <% end %>
      </div>
      <div class="infos-mini">
      <p class="date"><%= post.created_at.strftime("%-d %B %Y") %></p>
      <div class="play-quality">
        <!--play-icon-->
        <%= render partial: 'shared/play_icon' if post.remixes.present?%>
        <!--quality-icon-->
        <p class="quality"><%= post.post_qualities.count %> <i class="fa-solid fa-star" style="color: #ffd43b;"></i></p>
      </div>
      </div>

    </div>

    </div>
  </div>
</div>
