<div class="post-container">
  <div class="post" >
    <!--Tabs-->
    <div class="cards-header" data-controller="tabs">
      <h5 class="cards-header-item tab-index active" data-tabs-target="tab" data-action="click->tabs#changeTab">
        <%= link_to 'Explore', "/", class: "tabs" %>
      </h5>
      <h5 class="cards-header-item tab-index" data-tabs-target="tab" data-action="click->tabs#changeTab">
        <%= link_to 'Following', "#", class: "tabs" %>
      </h5>
    </div>
    <div class="cards">
      <% @posts.reverse.each do |post| %>
        <%= link_to post_path(post.token)  do %>
          <div class="card">
            <div class="card-body">
              <div class="infos">
              <div class="card-images">
                <h5 class="card-title title"><%=post.title%></h5>
                <% if post.photo.key.nil? %>
                  <h3 class="post-image"> <%= image_tag "default_image.png", class: "avatar-post", loading: "lazy" %></h3>
                <% else %>
                  <h3 class="post-image"> <%= image_tag url_for(post.photo), class: "avatar-post", loading: "lazy" %></h3>
                <% end %>
              </div>
              <div class="card-images">
                <%= image_tag url_for(post.user.photo), class: "avatar-small" %>
                <p class="content"><%= post.content %></p>
              </div>
                <div class= "info-mini">
                  <h3 class="nickname"> By <%=post.user.nickname%></h3>
                  <h3 class="date"><%= post.created_at.strftime("%-d %B %Y") %></h3>
                  <h4 class="like"><i class="fa-solid fa-heart" style="color: #FF3040;"></i> <%= post.post_likes.count %></h4>
                  <h4 class="quality"><i class="fa-solid fa-star" style="color: #ffd43b;"></i> <%= post.post_qualities.count %></h4>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
