  <div class="form-back">
    <div class="form-group">
      <div class="form-container">
        <%= simple_form_for [@post], data: { controller: "post-form"} do |f| %>
            <div class= "header" style="text-align: right">
            <a href="/p" class="exit-button"><i class="fa-sharp fa-regular fa-circle-xmark"></i></a>
              <%= f.submit "Publish", class: "form-button", input_html: { class: 'form-button' } %>
            </div>
            <p><%= f.input :title, class: "form-control", placeholder: "Add title here", label: false, input_html: { class: 'form-border form-title' } %></p>
            <p><%= f.input :content,as: :text , placeholder: "Write here", label: false, input_html: { rows: 30, class: 'form-border' } %></p>
            <div class="hyperlink-container"><i class="fa-solid fa-link icon"></i><%= f.input :url, as: :url,  class: "form-control", placeholder: "Add your url", label: false, input_html: { class: 'form-border' } %></div>
            <div class="hyperlink-container"><i class="fa-solid fa-language icon"></i><%= f.input :language, as: :string,  class: "form-control", placeholder: "Content's language", label: false, input_html: { class: 'form-border' } %></div>
            <div class="imagelink-container" ><%= f.input :photo, as: :file, placeholder: false, label: "Cover image", input_html: { class: 'form-image' } %></div>
          <% end %>
      </div>
    </div>
  </div>
