<div class="banner" style="background-image: radial-gradient(circle at center, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9)), url('<%= cl_image_path @post.photo.key %>')">
  <div class="post" >
        <h1 class="title"> <%= @post.title %></h1>
          <p><%= @post.content %></p>
          <a class="btn btn-classic" href=<%= @post.url %> target= "_blank">Visit the writer's site 🔗</a>
        <div class="">
          <%= cl_image_tag(@post.photo.key, class:"post-photo" ) %>
          <%= button_to "💖", post_likes_path, params: { post_like: { post_id: @post.id }}, method: :post %>
          <p><% @post.post_like.count %> Likes</p>
      </div>

      <div class="">
      <% if current_user == @post.user%>
          <div class="btn-delete"><%= link_to "x", post_path(@post), data: { turbo_method: :delete, turbo_confirm: 'Delete your post?'}%></div>
        <% end %>

      </div>

      <div class="form-group">
        <div class="text">
          <h3>Comments (<%= @post.comments.count %>)</h3>
          <% @post.comments.reverse.each do |comment|%>
            <div class="d-flex">
              <% if User.find(comment.user_id).photo.key.nil? %>
              <p><%= image_tag "default_image.png", class:"avatar" %></p>
              <% else %>
              <p><%= cl_image_tag(User.find(comment.user_id).photo.key, class:"avatar" )%></p>
              <% end %>
              <p><%= comment.content %></p>
            </div>
          <% end %>
          <%= simple_form_for [@post, @comment] do |f| %>
            <p><%= f.input :content, class: "form-control", placeholder: "Type your comment here...", label: false %></p>
            <div class="show-comment-btn">
              <%= f.submit "Comment", class: "btn btn-flat" %>
            </div>
              <% end %>
        </div>
      </div>

  </div>
</div>
