  <div class="post-container" style="background-color: #343541">
  <div class="post" >

          <!--Tabs-->
        <div class="cards-header" data-controller="tabs">
          <h5 class="cards-header-item tab-index active" data-tabs-target="tab" data-action="click->tabs#changeTab">
          For you
          </h5>
          <h5 class="cards-header-item tab-index" data-tabs-target="tab" data-action="click->tabs#changeTab">
          Following
          </h5>
          <h5 class="cards-header-item tab-index " data-tabs-target="tab" data-action="click->tabs#changeTab">
          Highest quality
          </h5>
          <h5 class="cards-header-item tab-index" data-tabs-target="tab" data-action="click->tabs#changeTab">
          Most likable
          </h5>
        </div>

        <div class="mt-3" data-controller="tabs">
              <div class="tabs" >
                <a href="/posts/" class="tab">Back to feed</a>
              </div>

              <div class="notifications">
              <!-- story -->
                  <div class="notification story" data-tabs-target="notification">
                          <h1 class="title"> <%= @post.title %></h1>
                          <div class="show-date"><%= @post.created_at.strftime("%-d %B %Y") %></div>
                          <div class="d-flex align-items-center mb-3">
                            <h3 class="post-avatar">
                              <%= link_to profile_path(@post.user.nickname) do %>
                                <%= cl_image_tag @post.user.photo.key, class: "avatar-small" %>
                              <% end %>
                            </h3>
                            <p style="margin-left: 16px"> by <%= @post.user.nickname %> </p>
                            <div>
                              <% if user_signed_in? %>
                                <% user_follow = current_user.following?(User.find(@post.user_id)) %>
                                <% if user_follow %>
                                  <p><%= button_to "Following âœ”", unfollow_follower_path(User.find(@post.user_id)), class: "btn btn-following", method: :post %></p>
                                <% else %>
                                  <p><%= button_to "Follow", follow_follower_path(User.find(@post.user_id)), class: "btn btn-follow", method: :post %></p>
                                <% end %>
                              <% end %>
                            </div>
                          </div>

                          <!--categories-->
                          <div class="category">
                            <% @post.categories.each do |category| %>
                              <p><%= category.name %></p>
                            <% end %>
                          </div>
                          <!--like, quality, reviews buttons-->
                          <div class="d-flex justify-content-center mb-5">
                            <div>
                              <% if user_signed_in? %>
                                <% post_like = current_user.post_likes.find_by(post: @post) %>
                                <% if post_like.nil? %>
                                  <%= button_to post_likes_path, class: "btn btn-like", params: { post_like: { post_id: @post.id }}, method: :post do %>
                                    <i class="far fa-heart"></i>
                                  <% end %>
                                <% else %>
                                  <%= button_to post_like_path(post_like), class: "btn btn-like", method: :delete do %>
                                    <i class="fas fa-heart"></i>
                                  <% end %>
                                <% end %>
                              <% end %>
                              <p><%= @post.post_likes.count %></p>
                            </div>
                            <div>
                              <% if user_signed_in? %>
                                <% post_quality = current_user.post_qualities.find_by(post: @post) %>
                                <% if post_quality.nil? %>
                                  <%= button_to post_qualities_path, class: "btn btn-like", params: { post_quality: { post_id: @post.id }}, method: :post do %>
                                    <i class="far fa-star"></i>
                                  <% end %>
                                <% else %>
                                  <%= button_to post_quality_path(post_quality), class: "btn btn-like", method: :delete do %>
                                    <i class="fas fa-star"></i>
                                  <% end %>
                                <% end %>
                              <% end %>
                              <p><%= @post.post_qualities.count %></p>
                            </div>
                            <div>
                              <% if user_signed_in? %>
                                <% saved_for_later = current_user.saved_for_laters.find_by(post: @post) %>
                                <% if saved_for_later.nil? %>
                                  <%= button_to saved_for_laters_path, class: "btn btn-like", params: { saved_for_later: { post_id: @post.id }}, method: :post do %>
                                    <i class="far fa-clock"></i>
                                  <% end %>
                                <% else %>
                                  <%= button_to saved_for_later_path(saved_for_later), class: "btn btn-like", method: :delete do %>
                                    <i class="fas fa-clock"></i>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </div>
                            <div>
                              <h2><i class="far fa-message"></i></h2>
                              <a href="" data-tabs-target="tab" data-action="click->tabs#changeTab">Reviews</a>
                            </div>
                          </div>

                          <!--
                          <div class="d-flex justify-content-center mb-5">
                            <div>
                              <% if user_signed_in? %>
                                <% post_like = current_user.post_likes.find_by(post: @post) %>
                                <% if post_like.nil? %>
                                  <%= button_to "ðŸ¤", post_likes_path, class: "btn btn-like", params: { post_like: { post_id: @post.id }}, method: :post %>
                                <% else %>
                                  <%= button_to "ðŸ’–", post_like_path(post_like), class: "btn btn-like", method: :delete %>
                                <% end %>
                              <% end %>
                              <p><%= @post.post_likes.count %></p>
                            </div>
                            <div>
                              <% if user_signed_in? %>
                                <% post_quality = current_user.post_qualities.find_by(post: @post) %>
                                <% if post_quality.nil? %>
                                  <%= button_to "âœ¨", post_qualities_path, class: "btn btn-like", params: { post_quality: { post_id: @post.id }}, method: :post %>
                                <% else %>
                                  <%= button_to "âœ¨", post_quality_path(post_quality), class: "btn btn-like", method: :delete %>
                                <% end %>
                              <% end %>
                              <p><%= @post.post_qualities.count %></p>
                            </div>
                            <div>
                              <% if user_signed_in? %>
                                <% saved_for_later = current_user.saved_for_laters.find_by(post: @post) %>
                                <% if saved_for_later.nil? %>
                                  <%= button_to "ðŸ•”", saved_for_laters_path, class: "btn btn-like", params: { saved_for_later: { post_id: @post.id }}, method: :post %>
                                  <p>Save for later</p>
                                <% else %>
                                  <%= button_to "ðŸ•”", saved_for_later_path(saved_for_later), class: "btn btn-like", method: :delete %>
                                  <p>âœ… Saved for later</p>
                                <% end %>
                              <% end %>
                            </div>
                            <div>
                              <h2><i class="fa-solid fa-message" style="color: white"></i></h2>
                              <a href="" data-tabs-target="tab" data-action="click->tabs#changeTab">Reviews</a>
                            </div>
                          </div>
                          -->

                          <p class="show-content"><%= @post.content.gsub(/\n/, '<br>').html_safe %></p>
                  </div>

              <!-- reviews -->
                  <div class="notification reviews d-none" data-tabs-target="notification">
                              <a href="" data-tabs-target="tab" data-action="click->tabs#changeTab">X</a>
                              <!--comments-->
                              <div class="form-group">
                                <div class="text">
                                  <h3 style="color: black">Reviews (<%= @post.comments.count %>)</h3>
                                  <%= simple_form_for [@post, @comment] do |f| %>
                                    <%= f.input :content, class: "form-control", placeholder: "Type your review here...", label: false %>
                                    <%= f.submit "Submit", class: "btn btn-flat show-comment-btn" %>
                                  <% end %>
                                  <% @post.comments.reverse.each do |comment|%>
                                    <div class="comment">
                                      <div class="d-flex justify-content-center mb-5">
                                          <%= render partial: "user_avatar", locals: { user_id: comment.user_id } %>
                                          <p><%= comment.content %></p>
                                          <!--comment likes-->
                                          <div>
                                            <% if user_signed_in? %>
                                              <% comment_like = current_user.comment_likes.find_by(comment: comment) %>
                                              <% if comment_like.nil? %>
                                                <%= button_to "â¬†", comment_likes_path, class: "btn btn-like", params: { comment_like: { comment_id: comment.id }}, method: :post %>
                                              <% else %>
                                                <%= button_to "â¬†", comment_like_path(comment_like), class: "btn btn-like", method: :delete %>
                                              <% end %>
                                            <% end %>
                                            <% if comment.nil? %>
                                              <p>0</p>
                                            <% else %>
                                              <p><%= comment.comment_likes.count %></p>
                                            <% end %>
                                          </div>
                                          <!--comment dislikes-->
                                          <div>
                                            <% if user_signed_in? %>
                                              <% comment_dislike = current_user.comment_dislikes.find_by(comment: comment) %>
                                              <% if comment_dislike.nil? %>
                                                <%= button_to "â¬‡", comment_dislikes_path, class: "btn btn-like", params: { comment_dislike: { comment_id: comment.id }}, method: :post %>
                                              <% else %>
                                                <%= button_to "â¬‡", comment_dislike_path(comment_dislike), class: "btn btn-like", method: :delete %>
                                              <% end %>
                                            <% end %>
                                            <% if comment.nil? %>
                                              <p>0</p>
                                            <% else %>
                                              <p><%= comment.comment_dislikes.count %></p>
                                            <% end %>
                                          </div>
                                      </div>


                                      <!-- Comment Replies -->
                                      <% if comment.comment_replies.any? %>
                                      <div class="replies">
                                        <% comment.comment_replies.reverse.each do |comment_reply|%>
                                          <div class="reply">
                                            <div class="d-flex justify-content-center mb-5">
                                                <%= render partial: "user_avatar", locals: { user_id: comment_reply.user_id } %>
                                                <p><%= comment_reply.content %></p>
                                                <!--comment reply likes-->
                                                <div>
                                                  <% if user_signed_in? %>
                                                    <% comment_reply_like = current_user.comment_reply_likes.find_by(comment_reply: comment_reply) %>
                                                    <% if comment_reply_like.nil? %>
                                                      <%= button_to "ðŸ¤", comment_reply_likes_path, class: "btn btn-like", params: { comment_reply_like: { comment_reply_id: comment_reply.id }}, method: :post %>
                                                    <% else %>
                                                      <%= button_to "ðŸ’–", comment_reply_like_path(comment_reply_like), class: "btn btn-like", method: :delete %>
                                                    <% end %>
                                                  <% end %>
                                                  <% if comment_reply.nil? %>
                                                    <p>0</p>
                                                  <% else %>
                                                    <p><%= comment_reply.comment_reply_likes.count %></p>
                                                  <% end %>
                                                </div>
                                            </div>
                                          </div>
                                        <% end %>
                                      </div>
                                      <% end %>
                                      <%= simple_form_for [comment, CommentReply.new] do |f| %>
                                        <%= f.input :content, class: "form-control", placeholder: "Type your reply here...", label: false %>
                                        <%= f.submit "Submit", class: "btn btn-flat show-comment-reply-btn" %>
                                      <% end %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>

                  </div>

                  </div>
              </div>
        </div>
  </div>
  </div>
