<div class="container">
  <div class="show-cards">


    <div class="photo-map">
      <div class="photo-btn">
      <% if current_user == @post.user%>
        <div class="btn-delete"><%= link_to "x", post_path(@post), data: { turbo_method: :delete, turbo_confirm: 'Delete your post?'}%></div>
      <% end %>
      <% if @post.photo.key.nil? %>
        <%= image_tag "default_image.png", class:"post-photo" %>
      <% else %>
        <%= cl_image_tag(@post.photo.key, class:"post-photo" ) %>
      <% end %>
      </div>
    </div>

    <div class="post-infos">
      <h1> <%= @post.title %></h1>
      <ul>
        <li>
          <p><%= @post.content %></p>
        </li>
        <li>
          <p><%= @post.url %></p>
        </li>
      </ul>
    </div>

  </div>

  <div class="show-comment">

    <div class="form-group mt-3">
      <div class="text">
        <h2>Comments (<%= @post.comments.count %>)</h2>
        <% @post.comments.reverse.each do |comment|%>
          <div class="d-flex mt-3">
            <% if User.find(comment.user_id).photo.key.nil? %>
            <p><%= image_tag "default_image.png", class:"avatar" %></p>

            <% else %>
            <p><%= cl_image_tag(User.find(comment.user_id).photo.key, class:"avatar" )%></p>
            <% end %>
            <p><%= comment.content %></p>
          </div>
        <% end %>
        <%= simple_form_for [@post, @comment] do |f| %>
          <p><%= f.input :content, class: "form-control", placeholder: "Type your comment here...", label: false %></p>
          <div class="show-comment-btn">
            <%= f.submit "Comment", class: "btn btn-flat" %>
          </div>
            <% end %>
      </div>
    </div>
  </div>

</div>
