  <div class="post-container" style="background-color: #343541">
  <div class="post" >

        <div class="mb-3 mt-3" data-controller="tabs">
              <div class="tabs" >
                <a href="/posts/" class="tab">Explore</a>
                <a href="" class="tab active" data-tabs-target="tab" data-action="click->tabs#changeTab">Story</a>
                <a href="" class="tab" data-tabs-target="tab" data-action="click->tabs#changeTab">Reviews</a>
                <a href="" class="tab" data-tabs-target="tab" data-action="click->tabs#changeTab">Author</a>
              </div>

              <div class="notifications">
              <!-- story -->
                  <div class="notification story" data-tabs-target="notification">
                          <h1 class="title"> <%= @post.title %></h1>
                          <div class="show-date"><%= @post.created_at.strftime("%-d %B %Y") %></div>
                          <div class="d-flex align-items-center mb-3">
                            <h3 class="post-avatar"> <%= cl_image_tag @post.user.photo.key, class: "avatar-small" %></h3>
                            <p style="margin-left: 16px"> by <%= @post.user.nickname %> </p>
                            <div>
                              <% if user_signed_in? %>
                                <% user_follow = current_user.following?(User.find(@post.user_id)) %>
                                <% if user_follow %>
                                  <p><%= button_to "Following âœ”", unfollow_follower_path(User.find(@post.user_id)), class: "btn btn-following", method: :post %></p>
                                <% else %>
                                  <p><%= button_to "Follow", follow_follower_path(User.find(@post.user_id)), class: "btn btn-follow", method: :post %></p>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                          <p class="show-content"><%= @post.content.gsub(/\n/, '<br>').html_safe %></p>
                  </div>

              <!-- reviews -->
                  <div class="notification reviews d-none" data-tabs-target="notification">
                              <!--categories-->
                              <div class="category">
                                <% @post.categories.each do |category| %>
                                  <p><%= category.name %></p>
                                <% end %>
                              </div>
                              <!--like, quality buttons-->
                              <div class="d-flex justify-content-center mb-5">
                                <div>
                                  <% if user_signed_in? %>
                                    <% post_like = current_user.post_likes.find_by(post: @post) %>
                                    <% if post_like.nil? %>
                                      <%= button_to "ðŸ¤", post_likes_path, class: "btn btn-like", params: { post_like: { post_id: @post.id }}, method: :post %>
                                    <% else %>
                                      <%= button_to "ðŸ’–", post_like_path(post_like), class: "btn btn-like", method: :delete %>
                                    <% end %>
                                  <% end %>
                                  <p><%= @post.post_likes.count %> Likes</p>
                                </div>
                                <div>
                                  <% if user_signed_in? %>
                                    <% post_quality = current_user.post_qualities.find_by(post: @post) %>
                                    <% if post_quality.nil? %>
                                      <%= button_to "âœ¨", post_qualities_path, class: "btn btn-like", params: { post_quality: { post_id: @post.id }}, method: :post %>
                                    <% else %>
                                      <%= button_to "âœ¨", post_quality_path(post_quality), class: "btn btn-like", method: :delete %>
                                    <% end %>
                                  <% end %>
                                  <p><%= @post.post_qualities.count %> Quality</p>
                                </div>
                                <div>
                                  <% if user_signed_in? %>
                                    <% saved_for_later = current_user.saved_for_laters.find_by(post: @post) %>
                                    <% if saved_for_later.nil? %>
                                      <%= button_to "ðŸ•”", saved_for_laters_path, class: "btn btn-like", params: { saved_for_later: { post_id: @post.id }}, method: :post %>
                                      <p>Save for later</p>
                                    <% else %>
                                      <%= button_to "ðŸ•”", saved_for_later_path(saved_for_later), class: "btn btn-like", method: :delete %>
                                      <p>âœ… Saved for later</p>
                                    <% end %>
                                  <% end %>
                                </div>
                              </div>

                              <!--comments-->
                              <div class="form-group">
                                <div class="text">
                                  <h3 style="color: black">Reviews (<%= @post.comments.count %>)</h3>
                                  <% @post.comments.reverse.each do |comment|%>
                                    <div class="d-flex">
                                      <% if User.find(comment.user_id).photo.key.nil? %>
                                      <p><%= image_tag "default_image.png", class:"avatar" %></p>
                                      <% else %>
                                      <p><%= cl_image_tag(User.find(comment.user_id).photo.key, class:"avatar" )%></p>
                                      <% end %>
                                      <p><%= comment.content %></p>
                                    </div>
                                  <% end %>
                                  <%= simple_form_for [@post, @comment] do |f| %>
                                    <p><%= f.input :content, class: "form-control", placeholder: "Type your review here...", label: false %></p>
                                    <div class="show-comment-btn">
                                      <%= f.submit "Submit", class: "btn btn-flat" %>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                  </div>

              <!-- author -->
                  <div class="notification author d-none" data-tabs-target="notification">
                            <div class="profile">
                                    <div  class="mb-2"><%=  cl_image_tag @post.user.photo.key, class: "avatar-medium" %></div>
                                    <div class="d-flex justify-content-center">
                                          <p  class="mb-2"><%= @post.user.nickname %></p>
                                          <div>
                                              <% if user_signed_in? %>
                                                <% user_follow = @post.user.following?(User.find(@post.user_id)) %>
                                                <% if user_follow %>
                                                  <p><%= button_to "Following âœ”", unfollow_follower_path(User.find(@post.user_id)), class: "btn btn-following", method: :post %></p>
                                                <% else %>
                                                  <p><%= button_to "Follow", follow_follower_path(User.find(@post.user_id)), class: "btn btn-follow", method: :post %></p>
                                                <% end %>
                                              <% end %>
                                          </div>
                                    </div>
                                      <div class="d-flex justify-content-center">
                                        <p  class="mb-5", style="margin-right: 30px"><%= @post.user.posts.count %> Stories</p>
                                        <p  class="mb-5"><%= @post.user.followers_count %> Followers</p>
                                      </div>
                            </div>

                            <!-- official site -->
                            <a href=<%= @post.url %> target= "_blank">Official siteðŸ”—</a>
                            <p>More stories from <%= @post.user.nickname %></p>
                            <div class="cards">
                                <% @post.user.posts.each do |post| %>
                                <%= link_to post_path(post)  do %>
                                    <div  class="post-card-small">
                                      <h4 class="like"><i class="fa-solid fa-heart" style="color: #FF3040;"></i> <%= post.post_likes.count %></h4>
                                      <h4 class="quality"><i class="fa-solid fa-star" style="color: #ffd43b;"></i> <%= post.post_qualities.count %></h4>
                                      <h5 class="language"><%= post.language %> from </h5>
                                      <% if post.language == "English" %>
                                        <div class= "england-flag"></div>
                                      <% elsif post.language == "French" %>
                                        <div class= "france-flag"></div>
                                      <% elsif post.language == "Spanish" %>
                                        <div class= "spain-flag"></div>
                                      <% end %>
                                      <div class="infos">
                                        <h3 class="post-avatar"> <%= cl_image_tag post.user.photo.key, class: "avatar-small" %></h3>
                                        <h3 class="post-image"> <%= cl_image_tag post.photo.key, class: "avatar-post" %></h3>
                                        <h2 class="title"><%=post.title%></h2>
                                        <h3 class="nickname"> By <%=post.user.nickname%></h3>
                                        <h3 class="nickname"><i class="fa-solid fa-badge-check" style="color: #ffffff;"></i></h3>
                                        <h3 class="date"><%= post.created_at.strftime("%-d %B %Y") %></h3>
                                        <p class="content"><%= post.content %></p>
                                      </div>
                                    </div>
                                <%end%>
                                <%end%>
                            </div>

                  </div>
              </div>
        </div>
  </div>
  </div>
